*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

.idea/encodings.xml

.idea/misc.xml

.idea/encodings.xml

rtplayer/.idea/workspace.xml

.idea/misc.xml

.idea/gradle.xml

.idea/misc.xml

.idea/gradle.xml

.idea/encodings.xml

.idea/encodings.xml
